.labelOne {
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-top: 15px !important;
  line-height: 1.5 !important;
  margin-bottom: 10px !important;
}
.QuestionBox {
  border-bottom: 1px solid #ccc !important;
  display: block !important;
  padding: 30px 0 !important;
}
.NestedQuestionBox {
  display: block !important;
  padding: 30px 0 !important;
}
.checkbox2Col {
  display: block !important;
}
.stepHeading {
  font-size: 28px !important;
  color: rgb(51, 51, 51) !important;
  line-height: 1.3 !important;
  margin-bottom: 10px !important;
  font-weight: 700 !important;
  margin-top: 30px;
}
.QuestionBox label span {
  font-weight: 500 !important;
  font-size: 15px !important;
}
.noteTxt {
  font-weight: 500 !important;
  font-size: 15px !important;
  color: #999 !important;
}
/* .painSeverityDropdown{
  width: auto;
  height: auto;
} */
.MuiBox-root.css-1ruxp1v {
  padding: 0 !important;
}
/**********************/
ul.infoList {
  padding-left: 20px;
}
.infoList li {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
ul.infoList2 {
  padding-left: 20px;
}
.infoList2 li {
  margin: 8px 0;
  font-size: 17px;
  font-weight: 500;
}

/* Table Header */
.table th {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  width: 20%;
  padding: 18px 25px;
  line-height: 1.4;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/* Table Body */
.table td {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  width: 20%;
  padding: 18px 25px;
  line-height: 1.4;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/* Remove right border for last column */
.table td:last-child,
.table th:last-child {
  border-right: none;
}

/* Remove bottom border for last row */
.table tr:last-child td {
  border-bottom: none;
}
/******** Privacy Pages Style ********/
.privacyPara {
  font-size: 17px !important;
  font-weight: 500 !important;
  color: #4a4a4a !important;
  line-height: 1.6 !important;
  margin-bottom: 20px !important;
}
.PrivacyContent a {
  text-decoration: underline !important;
  color: #fd6400 !important;
}
.PrivacyContent h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.PrivacyContent h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 30px 0 20px 0;
}
.PrivacyContent ul,
.PrivacyContent ol {
  padding-left: 17px;
}
.PrivacyContent ul li,
.PrivacyContent ol li {
  font-size: 17px !important;
  font-weight: 500 !important;
  color: #4a4a4a !important;
  line-height: 1.6 !important;
  margin: 10px 0;
}
/********************************/
.iconListRow {
  margin: 15px 0;
}
.iconListRow h4 {
  display: flex;
  align-items: flex-start;
  font-size: 20px !important;
  font-weight: 600;
  margin-bottom: 3px;
}
.iconListRow p {
  font-size: 16px !important;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 5px;
}
.iconListRow img {
  max-width: 100%;
}
/* .privacyContentEmail{
  cursor:pointer;
  text-decoration: underline !important;
  color: #0043fd !important;
} */
.singleList {
  display: flex;
  margin: 15px 0;
}
.singleList h4 {
  display: flex;
  align-items: flex-start;
  font-size: 17px !important;
  font-weight: 500;
  margin-bottom: 3px;
}
.singleList p {
  font-size: 16px !important;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 5px;
}
.singleList img {
  max-width: 100%;
}

/**************** Responsive Styles ****************/

@media (max-width: 1024px) {
  .table th,
  .table td {
    font-size: 16px;
    padding: 12px 15px;
  }
  .infoList li {
    font-size: 17px;
  }

  .privacyPara {
    font-size: 16px !important;
    margin-bottom: 15px !important;
  }
  .PrivacyContent h1 {
    font-size: 26px;
    margin: 0 0 20px 0;
  }
  .PrivacyContent h2 {
    font-size: 22px;
    margin: 20px 0 20px 0;
  }
  .PrivacyContent ul,
  .PrivacyContent ol {
    padding-left: 16px;
  }
  .PrivacyContent ul li,
  .PrivacyContent ol li {
    font-size: 16px !important;
  }
}

@media (max-width: 767px) {
  .table th,
  .table td {
    font-size: 15px;
    padding: 10px 12px;
  }

  .privacyPara {
    font-size: 15px !important;
    margin-bottom: 15px !important;
  }
  .PrivacyContent h1 {
    font-size: 22px;
    margin: 0 0 20px 0;
  }
  .PrivacyContent h2 {
    font-size: 19px;
    margin: 20px 0 20px 0;
  }
  .PrivacyContent ul,
  .PrivacyContent ol {
    padding-left: 15px;
  }
  .PrivacyContent ul li,
  .PrivacyContent ol li {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 767px) {
  .QuestionBox {
    padding: 10px 0 !important;
  }
  .labelOne {
    font-size: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }
  .QuestionBox label span {
    font-size: 14px !important;
  }
  .infoList li {
    margin: 10px 0;
    font-size: 15px;
  }
  .infoList2 li {
    margin: 4px 0;
    font-size: 15px;
  }
  .iconListRow h4 {
    font-size: 17px !important;
  }
  .faqRowBox h3 button h6 {
    font-size: 17px !important;
  }
  .faqRowBox .MuiAccordionDetails-root p {
    font-size: 16px !important;
  }
}

/* Carousel Image Responsiveness Styles */
/* @media (min-width: 600px) {
  .carouselBgImgBox{
  width: 100%;
  min-height: 280px;
  height: auto;
  }
.carouselBgImg { */
  /* width: 100%;
  min-height: 280px;
  height: auto;
  object-fit: cover; */
  /* width: 100%;
  min-height: 280px;
  height: auto;
}
} */
  .carouselBgImgBox{
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .carouselBgImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }   
/* @media (min-width:1080px) and (max-width:1300px) {
  .categoriesTitleIconBox{
   max-width: 260px;
  }
} */